spring:
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: password
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate.ddl-auto: update # create-drop or update, depending on your needs
    show-sql: true
    properties.hibernate:
      format_sql: true
      default_schema: public
springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  show-actuator: true
management:
  endpoints:
    web:
      exposure:
        include: "*"